### Loops

In [ ]:
iterable
iterator
iteration

In [ ]:
for 
while
iter

In [1]:
str = "this is my first loop"

In [2]:
for i in str:
    print(i)

t
h
i
s

i
s

m
y

f
i
r
s
t

l
o
o
p

In [3]:
l1 = [12,3,4,5,54,5,5,]

In [4]:
for i in l1:
    print(i)

12
3
4
5
54
5
5

In [6]:
num = int(input())

if num%2 == 0:
    for i in range(num):
        print(i)

 4

0
1
2
3

In [7]:
d1 = {"jan":31, "feb":28, "march":31}

In [8]:
for key in d1:
    print(key)

jan
feb
march

In [9]:
for key in d1.values():
    print(key)

31
28
31

In [10]:
for key in d1.items():
    print(key)

('jan', 31)
('feb', 28)
('march', 31)

In [11]:
for k, v in d1.items():
    print(k, "   ", v)

jan     31
feb     28
march     31

In [19]:
for i, j in enumerate(range(1,11)):
    print(i+1, j**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [20]:
for i in l1:
    print(i)
else:
    print("will print finally")

12
3
4
5
54
5
5
will print finally

In [21]:
a = 5

while a > 0:
    print(a)
    a=a-1

5
4
3
2
1

In [22]:
a= 5
while a > 0:
    for i in range(3):
        print(i)
    a-=1

0
1
2
0
1
2
0
1
2
0
1
2
0
1
2

In [26]:
for i in l1:
    print(i, end=" ")

12 3 4 5 54 5 5

In [33]:
var = iter(l1)

In [31]:
print(list(var))

[12, 3, 4, 5, 54, 5, 5]

In [34]:
next(var)

12

In [35]:
next(var)

3

In [36]:
next(var)

4

In [37]:
next(var)

5

In [38]:
next(var)

54

In [39]:
next(var)

5

In [40]:
next(var)

5

In [41]:
next(var)

StopIteration:

In [42]:
str

'this is my first loop'

In [43]:
for i in str:
    if i == "y":
        print(i)

y

In [48]:
for i in str:
    if i == "y":
        pass
        print(i)

y

In [49]:
for i in str:
    if i == "y":
        pass
        print(i)
    print(i)

t
h
i
s

i
s

m
y
y

f
i
r
s
t

l
o
o
p

In [50]:
for i in str:
    if i == "y":
        break
        print(i)
    print(i)

t
h
i
s

i
s

m

In [51]:
for i in str:
    if i == "y":
        continue
        print(i)
    print(i)

t
h
i
s

i
s

m

f
i
r
s
t

l
o
o
p

In [52]:
l1

[12, 3, 4, 5, 54, 5, 5]

In [53]:
for i in l1:
    if i < 10:
        print(i)

3
4
5
5
5

In [54]:
l2 = {"jan", 34, True, (1,2,3), 33}

In [57]:
for i in l2:
    if type(i) == int:
        print(i)
    if type(i) == tuple:
        for j in i:
            if type(j)==int:
                print(j)

34
33
1
2
3

In [58]:
d1

{'jan': 31, 'feb': 28, 'march': 31}

In [59]:
d1["jan"]

31

In [60]:
for i in d1 :
    print(i,":" ,  d1[i])

jan : 31
feb : 28
march : 31

In [61]:
n = 4

for i in range(n) :
    for j in range(0, i+1) : 
        print("DA" , end = " ")
    print("\n")

DA

DA DA

DA DA DA

DA DA DA DA

In [63]:
n = 4

for i in range(n) :
    for j in range(0, i+1) : 
        print("DA" , end = " ")
    print()

DA
DA DA
DA DA DA
DA DA DA DA

In [64]:
count = 3

for i in range(count):
    name = input("Enter the name : ")
    print()
    print('You entered ', name)

Enter the name :  rahul

You entered  rahul

Enter the name :  vinay

You entered  vinay

Enter the name :  rohit

You entered  rohit

In [65]:
name = ""

while name != "Quit":
    name = input("Enter the name (use 'Quit' to stop :")
    if name != "Quit":
        print('You entered ', name)

Enter the name (use 'Quit' to stop : amit

You entered  amit

Enter the name (use 'Quit' to stop : rahul

You entered  rahul

Enter the name (use 'Quit' to stop : quit

You entered  quit

Enter the name (use 'Quit' to stop : Quit

In [69]:
# Example
i = 0           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)        #1, 2, 3, 4, 4, 5, 5, 6, 6, 7

1
2
3
4
4
5
5
6
6
7

In [70]:
# Example
i = 1           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        break     # no more further execution of the loop, once i is greater than 4 
                        # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)    #1, 2, 3,

2
3
4

In [71]:
# Example
i = 1           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        pass     # no more further execution of the loop, once i is greater than 4 
                        # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)    #1, 2, 3,

2
3
4
5
6
7

In [74]:
# Example
i = 1           #iteration variable initialized
while i < 7:    # condition is evaluated 
    if i > 3 :   
        continue     # no more further execution of the loop, once i is greater than 4 
                        # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1
    print(i)    #1, 2, 3,

2
3
4

KeyboardInterrupt:

In [73]:
input()

 6

'6'

In [75]:
s = "Jasmin sheikh"
for i in range(len(s)) : 
    print(i , s[i])

0 J
1 a
2 s
3 m
4 i
5 n
6
7 s
8 h
9 e
10 i
11 k
12 h

In [79]:
S = "Jasmin"
for i in range(len(S)-1 , -1, -1):
    print(i , S[i])

5 n
4 i
3 m
2 s
1 a
0 J

In [78]:
len(S)

6

In [81]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

In [88]:
for i in d.items():
    print(i, "   ", type(i))

(1, [1, (1, 2)])     <class 'tuple'>
(2, (1, [1, 5, 3]))     <class 'tuple'>
(3, [1, {4: (5, 6)}])     <class 'tuple'>

In [87]:
for i in d.items():
    print(i, " ", type(i), type(i[0]))

(1, [1, (1, 2)])   <class 'tuple'> <class 'int'>
(2, (1, [1, 5, 3]))   <class 'tuple'> <class 'int'>
(3, [1, {4: (5, 6)}])   <class 'tuple'> <class 'int'>

In [89]:
for i in d.items():
    print(i, " ", type(i), type(i[1]))

(1, [1, (1, 2)])   <class 'tuple'> <class 'list'>
(2, (1, [1, 5, 3]))   <class 'tuple'> <class 'tuple'>
(3, [1, {4: (5, 6)}])   <class 'tuple'> <class 'list'>

In [91]:
d = { 1:[1,(1,2)], 2:(1,[1,5,3]), 3:[1,{4:(5,6)}]}

for i in d.items():
    print(i)
    if type(i[1]) == list:
        if type(i[1][1]) == dict:
            print(type(i[1][1][4]), i[1][1][4])

(1, [1, (1, 2)])
(2, (1, [1, 5, 3]))
(3, [1, {4: (5, 6)}])
<class 'tuple'> (5, 6)

In [1]:
d4 = {1: ([["a","b"],1,2],"Nikita","mayuri"), 2: ([[2,"b"],"k1",2000],"mayuri","nikita")}

In [2]:
for i in d4.values():
    for j in i:
        if type(j) == str: 
            print(j)

Nikita
mayuri
mayuri
nikita