In [11]:
f = frozenset([10, 20, 30])

#Trying to add (will raise error)
f.add(40)   

# Trying to remove (will raise error)
f.remove(20)   

print(f)

AttributeError: 'frozenset' object has no attribute 'add'

In [10]:
s = {1,20,3,40,50}


#Trying to add (will raise error)
s.add(45)   

# Trying to remove (will raise error)
s.remove(20)   

print(s)

{1, 50, 3, 40, 45}

## User Defined Function

In [12]:
print()

In [13]:
len()

TypeError: len() takes exactly one argument (0 given)

In [14]:
type()

TypeError: type() takes 1 or 3 arguments

In [16]:
print("py", 12)

py 12

In [ ]:
#parameter
#arguments

In [17]:
def fun1():
    a = 10
    return a

In [19]:
fun1()

10

In [20]:
fun1(4)

TypeError: fun1() takes 0 positional arguments but 1 was given

positional argument     - Fix type
non-keyword args        - *args
key-word arg            - **kwargs

In [23]:
def fun2(x):
    x = x**2
    return x

In [25]:
fun2(4, 6)

TypeError: fun2() takes 1 positional argument but 2 were given

In [26]:
fun2()

TypeError: fun2() missing 1 required positional argument: 'x'

In [27]:
def fun3(*args):
    a = args + 10
    return a

In [28]:
fun3(5)

TypeError: can only concatenate tuple (not "int") to tuple

In [29]:
def fun3(*args):
    return args

In [30]:
fun3(5)

(5,)

In [31]:
fun3()

()

In [32]:
fun3("1", "aabc", True)

('1', 'aabc', True)

In [33]:
def fun4(**kwargs):
    return kwargs

In [34]:
fun4()

{}

In [35]:
fun4("C++")

TypeError: fun4() takes 0 positional arguments but 1 was given

In [36]:
fun4(name = "amit")

{'name': 'amit'}

In [37]:
fun4(name = "amit", name2 = "xyz")

{'name': 'amit', 'name2': 'xyz'}

In [ ]:
print(end= " ")

In [38]:
def fun5(**a, *b, c):
    return a,b,c

SyntaxError: arguments cannot follow var-keyword argument (432882994.py, line 1)

In [39]:
def fun5( *b, c,**a):
    return a,b,c

In [40]:
fun5(12, "xyz", lang = "python")

TypeError: fun5() missing 1 required keyword-only argument: 'c'

In [41]:
def fun5( c, *b,**a):
    return a,b,c

In [42]:
fun5(12, "xyz", lang = "python")

({'lang': 'python'}, ('xyz',), 12)

In [43]:
fun5(12, lang = "python")

({'lang': 'python'}, (), 12)

In [44]:
print()

In [45]:
def fun6(z):
    """this is my first 
    doct string"""
    return z

In [46]:
fun6(7)

7

In [48]:
import seaborn as sns

In [49]:
sns.barplot

AttributeError: module 'seaborn' has no attribute 'pl'

In [50]:
def fun7(a, b):
    c = a-b
    return c

In [52]:
fun7(10,6)

4

In [53]:
def fun7(a, b):
    c = a-b
    print(c)

In [54]:
fun7(10,8)

2

In [56]:
def generate_full_name ():
    first_name = 'Asabeneh'
    last_name = 'Yetayeh'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)

In [57]:
generate_full_name()

Asabeneh Yetayeh

In [58]:
def greetings (name):
    message = name + ', welcome to Python for Everyone!'
    return message

In [59]:
greetings("amit")

'amit, welcome to Python for Everyone!'

In [60]:
def area_of_circle (r):
    PI = 3.14
    area = PI * r ** 2
    return area

In [62]:
area_of_circle(3)

28.26

In [66]:
total = 0

for i in range(6+1):
    total+=i
    print(total)

0
1
3
6
10
15
21

In [64]:
def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total)

In [65]:
sum_of_numbers(6)

21

In [73]:
def list_items(*args):
    """Print all items passed as arguments."""
    for item in args:
        print(item)

In [71]:
list_items(2,7,5,9,"a")

2
7
5
9
a

In [75]:
def print_info(**kwargs):
    """Print key-value pairs passed as keyword arguments."""
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [76]:
print_info(k1 = "v1", k2 = "v2")

k1: v1
k2: v2

In [77]:
def calculate_area(radius):
    """Calculate the area of a circle with the given radius."""
    import math
    area = math.pi * (radius ** 2)
    return area

In [78]:
calculate_area(7)

153.93804002589985

In [80]:
def factorial(n):
    """
    Calculate the factorial of a non-negative integer n.
    Parameters:
    n (int): The number to calculate the factorial for.
    Returns:
    int: The factorial of n.
    """
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

In [82]:
factorial(-5)

ValueError: Factorial is not defined for negative numbers

In [85]:
def is_prime(n):
    """
    Check if a number is a prime number.
    Parameters:
    n (int): The number to check.
    Returns:
    bool: True if n is a prime number, False otherwise.
    """
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [90]:
is_prime(109)

True

In [92]:
def find_max(lst):
    """
    Find the maximum value in a list of numbers.
    Parameters:
    lst (list of int/float): The list to search.
    Returns:
    int/float: The maximum value in the list.
    """
    if not lst:
        raise ValueError("List is empty")
    max_value = lst[0]
    for item in lst[1:]:
        if item > max_value:
            max_value = item
    return max_value

In [93]:
find_max([2,1,6,88,22])

88

In [94]:
max([2,1,6,88,22])

88

In [95]:
def reverse_string(s):
    """
    Reverse the input string.
    Parameters:
    s (str): The string to reverse.
    Returns:
    str: The reversed string.
    """
    return s[::-1]

In [96]:
reverse_string("analytics")

'scitylana'

In [98]:
def fibonacci(n):
    """
    Generate the first n numbers in the Fibonacci sequence.
    Parameters:
    n (int): The number of Fibonacci numbers to generate.
    Returns:
    list of int: The first n numbers in the Fibonacci sequence.
    """
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    
    sequence = [0, 1]
    while len(sequence) < n:
        sequence.append(sequence[-1] + sequence[-2])
    return sequence

In [99]:
fibonacci(8)

[0, 1, 1, 2, 3, 5, 8, 13]

In [101]:
def count_occurrences(lst, item):
    """
    Count the occurrences of an item in a list.
    Parameters:
    lst (list): The list to search.
    item: The item to count.
    Returns:
    int: The number of times the item appears in the list.
    """
    count = 0
    for element in lst:
        if element == item:
            count += 1
    return count

In [103]:
count_occurrences([0, 1, 1, 2, 3, 5, 8, 13],1)

2

In [105]:
def is_palindrome(s):
    """
    Check if a string is a palindrome.
    Parameters:
    s (str): The string to check.
    Returns:
    bool: True if the string is a palindrome, False otherwise.
    """
    s = s.lower().replace(" ", "")  # Normalize the string
    return s == s[::-1]

In [108]:
is_palindrome("rahul")

False

In [117]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

In [118]:
myfunc()

Python is fantastic

In [111]:
x

'awesome'

In [119]:
#If you use the global keyword, the variable belongs to the global scope:

def myfunc():
    global y
    y = "fantastic"
    return y

In [120]:
myfunc()

'fantastic'

In [122]:
y + x

'fantasticawesome'

In [124]:
global y

In [125]:
def myfunc():
    y = "fantastic"
    global y
    return y

SyntaxError: name 'y' is assigned to before global declaration (1228513097.py, line 3)